.chat-page{
  width:100%;
  max-width:420px;
  margin:0 auto;
  padding-top:60px;
  background:#fff;
  position:relative;
}

/* HEADER */
.chat-header{
  position:fixed;
  top:0;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  max-width:420px;
  background:#fff;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  font-weight:600;
  font-size:18px;
  box-shadow:0 2px 5px rgba(0,0,0,0.05);
}

/* BODY */
.chat-body{
  flex:1;
  overflow-y:auto;
  overflow-x:hidden;
  padding:20px;
  display:flex;
  flex-direction:column;
  gap:15px;
}

.msg{
  max-width:80%;
  padding:12px 16px;
  border-radius:20px;
  font-size:14px;

  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.msg.me{
  background:#ff5722;
  color:#fff;
  border-bottom-right-radius:0;
  margin-left:auto;
}

.msg.other{
  background:#eee;
  color:#000;
  border-bottom-left-radius:0;
  margin-right:auto;
}

.msg.short{max-width:50%}
.msg.long{max-width:80%}



/* INPUT */
.chat-input{
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  max-width:420px;
  background:#fff;
  padding:12px 15px;
  display:flex;
  gap:10px;
  align-items:center;
  box-shadow:0 -2px 5px rgba(0,0,0,0.05);
}

.chat-input input{
  flex:1;
  padding:13px 18px;
  border:1px solid #ddd;
  border-radius:25px;
  outline:none;
}

.mic{
    font-size: 25px;
    color: rgba(0, 0, 0, 0.484);
}
.send-btn{
  width:45px;
  height:45px;
  border:none;
  border-radius:50%;
  background:#FF5A00;
  color:#fff;
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:18px;
}


