<div [innerHTML]="formHtml"></div>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">

      <div *ngFor="let cur of products" class="p-4 md:w-1/3">
        <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
          <img class="lg:h-48 md:h-36 w-full object-cover object-center" [src]="cur.image" />
          <div class="p-6">
            <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
            <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{cur.category}}</h1>
            <p class="leading-relaxed mb-3">{{cur.description}}</p>
            <div class="mb-3">
              <button (click)="BuyNowHandler(cur.price,{title:cur.title,price:cur.price})"
              class="px-4 py-2 bg-black text-white rounded-md shadow">
                Buy ₹{{cur.price}}
              </button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
