<div class="page">
  <!-- top bar -->
  <div class="top-bar">
    <i class="fa-solid fa-ellipsis-vertical"></i>
    <div class="location">
      <span>My Transactions</span>
    </div>
    <i class="fa-regular fa-bell"></i>
  </div>

  <!-- search -->
  <div class="search-box">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Search...">
  </div>

  <!-- tabs -->
  <div class="tabs">
    <div [class.active]="tab=='all'" (click)="tab='all'">ALL</div>
    <div [class.active]="tab=='latest'" (click)="tab='latest'">LATEST</div>
  </div>

  <!-- transactions grouped by month -->
  <div *ngFor="let m of months" class="month-block">
    <h3>{{ m.month }}</h3>
    <div class="card" *ngFor="let t of m.transactions">
      <div class="row">
        <div class="left">
          <div class="icon">{{ (t.profile || t.name)?.charAt(0)?.toUpperCase() }}</div>

          <div class="text">
            <p>{{ t.name }}</p>
            <small>{{ t.time }}</small>
          </div>
        </div>

        <div class="right">
          <p>₹ {{ t.amount }}</p>
          <img [src]="getIcon(t.method)" width="30" height="12" />
        </div>
      </div>

      <div class="btn">
        <button (click)="BuyNowHandler()">Pay Now</button>
      </div>
    </div>
  </div>

  <!-- Inject PayU form -->
  <div [innerHtml]="formHtml"></div>
  
</div>
