.page {
    padding: 15px;
    font-family: sans-serif;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.location {
    display: flex;
    gap: 5px;
    align-items: center;
}

.search-box {
    background: #eee;
    padding: 8px 12px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.search-box input {
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
}

.tabs {
    display: flex;
    gap: 15px;
    background: #fafafa;
    padding: 10px;
    border-radius: 20px;
    justify-content: center;
    margin-bottom: 15px;
}

.tabs div {
    padding: 6px 15px;
    border-radius: 20px;
    font-size: 13px;
}

.tabs div.active {
    background: #ff5a0a;
    color: white;
}

.month-title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 13px;
    color: #001E59;
    font-weight: 600;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 0px 15px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .1);
    margin-bottom: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #f3f3f3;
}

.row:last-child {
    border-bottom: 0;
}

.left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.icon {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #d10000;
    color: white;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text small {
    font-size: 11px;
    color: gray;
}
.text p{
    padding: 0px;
    margin: 0px;
}

.right {
    font-weight: 600;
    font-size: 14px;
    align-items: center;
    gap: 5px;
}

.btn {
    position: fixed;
    bottom: 20px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%);
    width: 300px;
    text-align: center;
}

.btn button {
    width: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: rgba(250, 74, 12, 1);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
