.container {
  background: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.back-btn, .phone-btn {
  background: none;
  border: none;
  font-size: 22px;
  cursor: pointer;
}

.message-box {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 15px;
  margin: 30px 0;
  line-height: 1.5;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.decline, .accept {
  border: none;
  border-radius: 30px;
  padding: 12px 25px;
  font-weight: bold;
  cursor: pointer;
  font-size: 15px;
}

.decline {
  background: #f44336;
  color: white;
}

.accept {
  background: #ff6600;
  color: white;
}

/* INPUT */
.chat-input{
  position:fixed;
  bottom:0;
  left:50%;
  transform:translateX(-50%);
  width:100%;
  max-width:420px;
  background:#fff;
  padding:12px 15px;
  display:flex;
  gap:10px;
  align-items:center;
  box-shadow:0 -2px 5px rgba(0,0,0,0.05);
}

.chat-input input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
  padding: 10px;
}

.send-btn {
  background: #ff6600;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
