.mobile-frame{
  width:100%;
  margin:auto;
  min-height:100vh;
  background:#fff;
  overflow-y:auto;
    margin:0;
  padding-top:60px; 
}

.top-bar{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 0px;
  background:#fff; /* optional */
  z-index:999;     /* optional */
  box-shadow:0 2px 5px rgba(0,0,0,0.05); /* optional */
}


.h-i, .search i, .search span{
  display:flex;
  align-items:center;

}
.h-i{
    width: 30px;
    height: 30px;
    border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
}
.h-i i{
    font-size: 25px;
}

.search{
  display:flex;
  align-items:center;
  gap:5px;
}

.searchbar{
    margin: 10px 0px;
}
.searchbar input{
    border: 1px solid red;
    width: 100%;
    padding: 8px 0px;
    border-radius: 20px;
}


.banner{
    border-radius: 20px;
    height: 210px;
}
.banner img{
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.section-title{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin:25px 0;
}
.section-title p{
    color: #ff4b00;
}


.category-buttons{
  display:flex;
  justify-content: center;
  align-items: center;
  gap:12px;
  padding:0 16px;
  margin-bottom:20px;

  button{
    background: white;
    width: 150px;
    height: 50px;
    border:1px solid #FA4A0C;
    border-radius:30px;
    padding:6px 12px;
  }
  button.active{
  background:#ff4b00;
  color:#fff;
  border:none;
  font-weight: bold;
    }
}



.hostel-list{
  padding:0 16px;
  display:flex;
  gap:16px;
  overflow-x:auto;
  scroll-snap-type:x mandatory;
}

.hostel-card{
  min-width:180px;
  background:#fff;
  border-radius:16px;
  padding:10px;
  box-shadow:0 0 10px rgba(0,0,0,.10);
  scroll-snap-align:start;

  img{
    width:100%;
    height:120px;
    object-fit:cover;
    border-radius:12px;
    margin-bottom:6px;
  }

  .info{
    display:flex;
    justify-content:space-between;
  }
}


.hostel{
    position: fixed;
    bottom: 40px;
    right: 0%; /* Center horizontally */
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    text-align: center;
}

.hostel button {
    width: 100%;
    height: 100%;
    padding: 10px;
    border-radius: 15px;
    border: none;
    background: rgba(250, 74, 12, 1);
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
}
