<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>        
    <div class="parent-container">
  <div class="child-container">

      <div class="name">
        <label>Full Name</label><br>
        <input type="text" [(ngModel)]="fullName" name="fullName" placeholder="Enter Your Name">
      </div>

      <div class="number">
        <label>Mobile Number</label>
        <input type="number" [(ngModel)]="mobile" name="mobile" placeholder="Enter Your Phone Number">    
      </div>

      <div class="name">
        <label>Email</label><br>
        <input type="email" [(ngModel)]="email" name="email" placeholder="Enter Your Email">
      </div>

      <div class="number">
        <label>Password</label>
        <input type="password" [(ngModel)]="password" name="password" placeholder="Enter Your Password">    
      </div>

      <div class="button">
          <button type="button" (click)="registerUser()">Sign Up</button>
      </div>
  </div>
</div>

</body>
</html>
